* {
margin: 0;
padding: 0;
}
.navbar {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #e9e51e;
color: rgb(12, 12, 12);
padding: 15px 20px;
}
.logo {
font-size: 24px;
font-weight: bold;
}
.nav-links {
display: flex;
list-style: none;
}
.nav-links li {
margin: 0 15px;
}
.nav-links a {
text-decoration: none;
color: rgb(9, 9, 9);
font-size: 14px;
}
.actions a {
margin-left: 15px;
color: rgb(14, 14, 14);
text-decoration: none;
font-weight: bold;
}
@media (max-width: 768px) {
.nav-links {
display: none;
}
.actions {
font-size: 14px;
}
}
@media (min-width: 769px) and (max-width: 1024px) {
.nav-links a {
font-size: 14px;
}
}
@media (min-width: 1025px) {
.nav-links a {
font-size: 16px;
}
}