body {
 background: white;
 font-family: Arial;
 padding: 30px;
 display: flex;
 justify-content: center;
}
.card {
 width: 350px;
 background: white;
 border-radius: 12px;
 padding: 20px;
 box-shadow: 0 0 15px rgba(0,0,0,0.2);
 text-align: center;
}
.car-img {
 width: 100%;
 height: 300px;
 border-radius: 10px;
 border: 1px solid #ddd;
}
.car-name {
 font-size: 24px;
 margin-top: 15px;
 color: #222;
}
.car-desc {
 font-size: 14px;
 color: #555;
 margin: 10px 0 20px 0;
}
.price {
 font-size: 20px;
 color: #d40000;
 margin-bottom: 20px;
}
.btn {
 background: #000;
 color: white;
 padding: 10px 25px;
 border: none;
 border-radius: 6px;
 cursor: pointer;
}
