body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}
h1{
    color: rgb(35, 0, 139);
    background-color: antiquewhite;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: 7px 1px 0px white;
    text-decoration: underline;

}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-style:italic;
    text-align: center;
    text-decoration: beige;
    text-transform: capitalize;
    text-shadow: 1px 1px 0px red;
    color: black;
}
img{
    border: 2px solid black;
    float: right;
}